<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
	<!-- Bootstrap -> thiet ke GUI -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

	<!-- AngularJS -> framework (js) -> duoc viet bang js (library js) -> file .js -> nhung cdn vao web -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <style>
        .Management h2{
            text-align: center;
            margin: 20px;
        }

        .form-group{
            margin: 5px;
        }

        .List h2{
            text-align: center;
            margin: 20px;
        }
    </style>

</head>
<body ng-controller="myCtrl">
    <div class="container">
        <div class="Management">
            <h2>Student management</h2>
            <form method="post">
                <div class="Student info">
                    <div class="form-group">
                        <label>Student Name: </label>
                        <input required type="text" placeholder="Input student name" class="form-group" ng-model="fullname">
                    </div>
                    <div class="form-group">
                        <label>Student DOB: </label>
                        <input required type="date" class="form-group" ng-model="date">
                    </div>
                    <div class="form-group">
                        <label>Student Gender: </label>
                        <input required type="radio" name="gender" class="form-group" value="Male" ng-model="gender">Male
                        <input required type="radio" name="gender" class="form-group" value="Female" ng-model="gender">Female
                    </div>
                    <div class="form-group">
                        <label>Student Language: </label>
                        <input type="checkbox" name="op1" class="form-group" value="English">English
                        <input type="checkbox" name="op2" class="form-group" value="Vietnamese">Vietnamese
                        <input type="checkbox" name="op3" class="form-group" value="Japanese">Japanese
                        <input type="checkbox" name="op4" class="form-group" value="Chinese">Chinese
                        <input type="checkbox" name="op5" class="form-group" value="French">French
                    </div>
                    <div class="form-group">
                        <label>Student Class: </label>
                        <select ng-model="class"><option ng-repeat="cl in listclass" value="{{cl}}"> {{ cl }} </option>
                        </select>
                        <button ng-click="addclass()">Add class</button>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success" ng-click="addUser()">Save</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="List">
            <h2>Student List</h2>
            <div class="main">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Full Name</th>
                            <th>Class</th>
                            <th>DOB</th>
                            <th>Gender</th>
                            <th>Language</th>
                            <th style="width: 160px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="student in dataList">
                            <td> {{ student.fullname }} </td>
                            <td> {{ student.class }} </td>
                            <td> {{ student.date }} </td>
                            <td> {{ student.gender }} </td>
                            <td> {{ student.language }} </td>
                            <td><button ng-click="delete($index)">Remove</button></td>
                        </tr>
                    </tbody>
                </table>
                <p><b>Total: </b>{{ $index }} student</p>
            </div>
        </div>
    </div>

    <script>
        var app = angular.module("myApp",[])
        app.controller('myCtrl', function($scope){
            $scope.dataList = [];
            $scope.listclass = ["C2108G3","C2108G2","C2108G1"];
            $scope.addclass = function() {
                var classinput = prompt("input class", '');
                this.listclass[this.listclass.length] = classinput;
            }
            $scope.addUser = function(){
                var language = document.querySelectorAll ("input[type=checkbox]:checked");
                console.log(language);
                var Listlanguage = [];
                for(var i=0;i<language.length;i++){
                    Listlanguage[Listlanguage.length] = language[i].value ;
                }
                var student = {
                    "fullname":this.fullname,
                    "class":this.class,
                    "date":this.date,
                    "gender":this.gender,
                    "language":Listlanguage.join()
                }
                console.log(student);
                this.dataList[this.dataList.length] = student
            }

            $scope.delete = function(index){
                $scope.dataList.splice(index,1)
            }
        })
    </script>
</body>
</html>